<div class="container centered-container">
    {% if is_empty_search %}
    <div class="card instructions-card">
        <div class="card-body">
            <h5 class="card-title text-center">No search results found</h5>
            <p class="card-text text-center">Try searching for something else</p>
        </div>
    </div>
    {% endif %}
    <div class="card instructions-card">
        <div class="card-body">
            <h5 class="card-title text-center">Search for Resources</h5>
            <ul class="list-group ">
                <li class="list-group-item text-center">Enter keywords related to the resource you are looking for and click search (<span class="bi bi-search"></span>) </li>
                <li class="list-group-item text-center">Use filters (<span class="bi bi-funnel-fill"></span>) to narrow your search</li>
            </ul>
        </div>
    </div>
</div>

<style>
    .centered-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
    .instructions-card {
        max-width: 1000px;
        width: 100%;
        margin-bottom: 20px; /* Add some space between the cards */
    }
</style>