{% load static %}
<div id="communities-content">
    <!-- Following Row -->
    <div class="row mb-4">
        <div class="col-12">
            <h5>Following</h5>
            {% include 'communities/communities_list.html' with communities_list=communities_followed %}
        </div>
    </div>

    <!-- Recommended Row -->
    <div class="row mb-4">
        <div class="col-12">
            <h5>Recommended</h5>
            {% include 'communities/communities_list.html' with communities_list=communities_recommended %}
            </div>
        </div>
    </div>

</div>