{% load static %}
<div id="communities-content">

    <!-- Search Bar (mobile top) -->
    <div class="row mb-4">
        <div class="col-12 col-md-4 text-left mb-2 mb-md-0">
            <input type="search" class="form-control" placeholder="Search Communities" aria-label="Search Communities">
        </div>
    </div>

    <!-- Following Row -->
    <div class="row mb-4">
        <div class="col-12">
            <h5>My Communities</h5>
            {% include 'communities/horizontal_list_partial.html' with communities_list=communities_followed %}
        </div>
    </div>

    <!-- Recommended Row -->
    <div class="row mb-4">
        <div class="col-12">
            <h5>Recommended For You</h5>
            {% include 'communities/horizontal_list_partial.html' with communities_list=communities_recommended %}
            </div>
        </div>
    </div>

</div>