/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.bg-red {
    background-color: #ff8888;
}

.bg-blue {
    background-color: #8888ff;
}

.bg-green {
    background-color: #88ff88;
}

body {
    /*margin-bottom: 60px;*/
    /* Margin bottom by footer height */
}

.navbar-logo {
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* background-color: #b6f5ff; */
}


/* Custom page CSS
   * Not required for template or sticky footer method.
   * -------------------------------------------------- */

body>.container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

/* .footer>.container {
    padding-right: 15px;
    padding-left: 15px;
} */

code {
    font-size: 80%;
}