/* Sticky footer styles
-------------------------------------------------- */
html, body {
    position: relative;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}

.bg-red {
    background-color: #ff8888;
}

.bg-blue {
    background-color: #8888ff;
}

.bg-green {
    background-color: #88ff88;
}

.bg-primary {
    background-color: #f0f0f0 !important;
}

.navbar-logo {
    padding: 0;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
    /* background-color: #b6f5ff; */
}


/* Custom page CSS
   * Not required for template or sticky footer method.
   * -------------------------------------------------- */

body>.container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

#main-content {
    height: calc(100vh - 105px);
    overflow-y: auto;
}

#sidebar-menu {
    height: calc(100vh - 105px);
    overflow-y: auto;
}
