{% load static %}
{% static 'images/community-default.webp' as default_image_url %}

<div class="container-fluid">

    {% include 'communities/partials/nav.html' %}

    <div id="communities-content-wrapper">
        <div id="community-content">

            <img class="community-banner-img" src="{{ community.image_url|default:default_image_url }}"
                title="{{ community.name }}" alt="{{ community.name }}">

            <div class="row my-2">

                <div class="col-12 col-md-8 mb-2 mb-md-0">

                    <h2 class="card-title">{{ community.name }}</h2>
                    <p>{{ community.member_count }} members · Private Community</p>

                    <div class="col-12 col-md-8 mb-2 mb-md-0">

                        <ul class="nav nav-pills justify-content-left" id="communities-tab-wrapper" role="tablist">

                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="posts-tab" href="#posts" data-bs-toggle="tab"
                                    role="tab" hx-get="/communities/{{ community.id }}/posts/" hx-swap="innerHTML" hx-trigger="click"
                                    hx-target="#community-body" aria-controls="posts"
                                    aria-selected="false">Posts</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="events-tab" href="#events" data-bs-toggle="tab" role="tab"
                                    hx-get="/communities/{{ community.id }}/events/" hx-swap="innerHTML" hx-trigger="click"
                                    hx-target="#community-body" aria-controls="events"
                                    aria-selected="false">Events</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="events-tab" href="#events" data-bs-toggle="tab" role="tab"
                                    hx-get="/communities/{{ community.id }}/members/" hx-swap="innerHTML" hx-trigger="click"
                                    hx-target="#community-body" aria-controls="events"
                                    aria-selected="false">Members</a>
                            </li>

                        </ul>

                    </div>

                    <div id="community-body" class="my-2 my-md-2">
                        <div>
                            {% include 'communities/partials/community_posts.html' %}
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-4 text-center mt-2 mt-md-4">

                    <div id="community-about" class="card" style="min-height: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">Who are we...</h5>
                            <p class="card-text">{{ community.description }}</p>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>



</div>