{% extends 'boilerplate.html' %}

{% block body %}

<header class="header bg-primary text-white pt-0 pb-1" id="header">
    {% include 'partials/header.html' %}
</header>

<div id="body" class="container-fluid">
    <div class="row flex-nowrap" id="main-body">

        <!-- Sidebar -->
        <aside class="col-2 bg-light border-end" id="sidebar-menu">
            {% include 'partials/menu.html' %}
        </aside>

        <!-- Main Content -->
        <main class="col-10 py-3" id="main-content">
            {% block content %}
            {% include 'partials/home.html' %}
            {% endblock %}
        </main>

    </div>
</div>

<footer class="footer bg-dark text-white text-center py-1">
    {% include 'partials/footer.html' %}
</footer>

{% endblock %}