{% load static %}
<div id="header-content">


    <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <div class="row w-100 align-items-center">

                    <!-- Left Column -->
                    <div class="col-2">
                        <form class="d-flex" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </div>

                    <!-- Middle Column -->
                    <div class="col-8 text-center d-flex justify-content-center align-items-center">

                        <a class="navbar-brand me-3" href="#" hx-get="/" hx-swap="innerHTML" hx-trigger="click"
                            hx-target="#main-content" hx-push-url="true" data-title="Home">
                            <img class="media-object" src="{% static 'images/logo.webp' %}" alt="logo" width="40"
                                height="40">
                        </a>
                        <a class="navbar-brand me-3" href="#" hx-get="/" hx-swap="innerHTML" hx-trigger="click"
                            hx-target="#main-content" hx-push-url="true" data-title="Home">
                            <span class="navbar-brand">Homeschool Hub</span>
                        </a>
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item">
                                <a class="nav-link" href="#" hx-get="/communities/" hx-swap="innerHTML"
                                    hx-trigger="click" hx-target="#main-content" hx-push-url="true">
                                    <div class="nav-link-wrapper" data-title="Communities">
                                        <i class="bi bi-people-fill" style="font-size: 1.5rem;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" hx-get="/resources/" hx-swap="innerHTML" hx-trigger="click"
                                    hx-target="#main-content" hx-push-url="true">
                                    <div class="nav-link-wrapper" data-title="Resources">
                                        <i class="bi bi-book-fill" style="font-size: 1.5rem;"></i>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" hx-get="/schedule/" hx-swap="innerHTML" hx-trigger="click"
                                    hx-target="#main-content" hx-push-url="true">
                                    <div class="nav-link-wrapper" data-title="Schedule">
                                        <i class="bi bi-calendar-fill" style="font-size: 1.5rem;"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Right Column -->
                    <div class="col-2 text-end">
                        <div class="dropdown d-inline">
                            <a class="btn btn-link text-secondary" href="#" role="button" id="helpDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false" data-title="Help">
                                <i class="bi bi-question-circle-fill" style="font-size: 1.5rem;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="helpDropdown">
                                <li><a class="dropdown-item" href="#">FAQ</a></li>
                                <li><a class="dropdown-item" href="#">Contact Support</a></li>
                            </ul>
                        </div>
                        <div class="dropdown d-inline">
                            <a class="btn btn-link text-secondary" href="#" role="button" id="accountDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false" data-title="My Account">
                                <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end container-fluid -->

    </nav>

</div>