<div id="home-content">

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body" id="communities">
                <h2>Communities</h2>
                <p>Find a community of homeschoolers near you</p>
            </div>

        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Resources</h2>
                <p>Find resources to help you homeschool</p>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Schedule</h2>
                <p>Plan your homeschooling schedule</p>
            </div>
        </div>
    </div>

</div>