<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Homeschool Hub</title>

</head>

<body>

    <header>
        <div>

            <nav class="navbar navbar-default">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-xs-2">
                            <div class="navbar-header">
                                <form class="navbar-form navbar-left">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-xs-8">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <a class="navbar-brand navbar-logo" href="#" hx-get="/home/" hx-swap="innerHTML"
                                    hx-trigger="click" hx-target="#main-content">
                                    <img class="media-object" src="{% static 'images/logo.webp' %}" alt="logo"
                                        width="100%" height="100%">
                                </a>

                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#" hx-get="/home/" hx-swap="innerHTML" hx-trigger="click"
                                            hx-target="#main-content">
                                            <b>Homeschool Hub</b>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#communities" hx-get="/communities/" hx-swap="innerHTML"
                                            hx-trigger="click" hx-target="#main-content">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                            Communities</a>
                                    </li>
                                    <li>
                                        <a href="#resources" hx-get="/resources/" hx-swap="innerHTML" hx-trigger="click"
                                            hx-target="#main-content">
                                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                            Resources</a>
                                    </li>
                                    <li>
                                        <a href="#schedule" hx-get="/schedule/" hx-swap="innerHTML" hx-trigger="click"
                                            hx-target="#main-content">
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                            Schedule</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-xs-2">

                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>

                            </ul>

                        </div>

                    </div>

                </div><!-- /.container-fluid -->

            </nav>

        </div>
    </header>

    <div class="body container-fluid">

        <div class="row" id="main-body">

            <div class="col-xs-2">
                <div id="sidebar-menu" hx-get="/menu" hx-trigger="load" hx-get="/menu/" hx-swap="innerHTML">loading...
                </div>
            </div>

            <div class="col-xs-10">
                <div id="main-content" hx-get="/home" hx-trigger="load" hx-get="/home/" hx-swap="innerHTML">loading...
                </div>
            </div>

        </div>

    </div>

    <footer class="footer">
        <div class="text-center">
            <p>
                <span>How it Works</span><span> · </span>
                <span>About Us</span><span> · </span>
                <span>Privacy</span><span> · </span>
                <span>Terms</span><span> · </span>
                <span>Support</span>
            </p>
        </div>
    </footer>

</body>

</html>